@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  background: #030303;
}

main {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.slider {
  -webkit-appearance: none;
  background: transparent;
  overflow: visible;
}

.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: #e2e2e2;
  outline: 1px solid #e0e0e0;
  border-radius: 99999px;
  height: 8px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #e11d48;
  border-radius: 99999px;
  translate: 0 -5px;
  cursor: pointer;
}

.fade-to-t {
  mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
}
